<main class="list-page-content">
    <section class="list-page">
      <article>
        <div class="col col-lg-2">
          <input placeholder="Search" type="search" id="input-field" />
          <select class="sort">
            <option value="search" selected disabled hidden>Search by</option>
            <option value="age"></option>
            <option value="name"></option>
          </select>
        </div>
        <app-back-button></app-back-button>
        <app-events-map></app-events-map>
      </article>
      <article>
        <!-- Old version of Places List -->
        <!-- <div class="list-group">
                  <div *ngFor="let place of places" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true"> -->
        <!-- <figure class="rounded float-start rounded-circle flex-shrink-0">
                          <img src="../../assets/img/phones/{{ phone.id }}.0.jpg" alt="">
                          <img src="{{'assets/img/phones/' + phone.id }}.0.jpg" alt="">
        
                      </figure> -->
        <!-- <div class="d-flex gap-2 w-100 justify-content-between">
                      <div>
                          <h2 class="mb-0"><a routerLink="{{'/places-detail/' + place.id }}">{{ place.name.fi }}</a></h2>
                          <p class="mb-0 opacity-75">{{ place.description.body }}</p> -->
        <!-- <p class="mb-0 opacity-75">{{ place.info_url }}</p> -->
        <!-- <a class="mb-0 opacity-75" target="_blank" href="{{place.info_url}}"  onclick="window.open(this.href,'_blank');" rel="noopener noreferrer" >
                              {{place.info_url}}
                           </a>
                      </div>
                    </div>
                  </div> 
              </div>   -->
        <!-- <a routerLink="{{'/places-detail/' + place.id }}></a>" -->
  
        <!-- Here starts the scrolling list using Cdk virtual scrolling -->
        <ng-container
          class="list-group-item list-group-item-action d-flex gap-3 py-3"
          aria-current="true"
        >
          <cdk-virtual-scroll-viewport itemSize="50" class="content">
            <mat-accordion>
              <mat-expansion-panel class="list-item" *cdkVirtualFor="let event of events | sortDate : 'event.event_dates.starting_day';">
                
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <h6>{{event.name.fi}} - {{ event.event_dates.starting_day | date: 'dd/MM/YYYY' }}  , klo. {{ event.event_dates.starting_day | date: 'HH:mm'}}</h6>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <!-- <h2 class="mb-0"></h2> -->
                  <!-- <a
                    routerLink="{{ '/places-detail/' + place.id }}"
                    class="place-title"
                    >{{ place.name.fi }}</a
                  > -->
                
                <p class="mb-0 opacity-75">{{ event.description.intro }}</p>
                <p></p>
                <p>Alkaa: {{ event.event_dates.starting_day | date: 'dd/MM/YYYY' }}  , klo. {{ event.event_dates.starting_day | date: 'HH:mm'}} </p>
                <p>Loppuu: {{ event.event_dates.ending_day | date: 'dd/MM/YYYY' }}  , klo. {{ event.event_dates.ending_day | date: 'HH:mm'}} </p>

                <p class="mb-0 opacity-75">{{ event.description.body }}</p>
                <a
                  class="mb-0 opacity-75"
                  target="_blank"
                  href="{{ event.info_url }}"
                  onclick="window.open(this.href,'_blank');"
                  rel="noopener noreferrer"
                >
                  {{ event.info_url }}
                </a>
                <p></p>
                <p class="mb-0 opacity-75">Osoite: {{ event.location.address.street_address }}</p>
                <p class="mb-0 opacity-75"> {{ event.location.address.postal_code }}</p>
                <p class="mb-0 opacity-75"> {{ event.location.address.locality }}</p>
                <figure class="event_image" *ngFor="let image of event.description.images">
                  <img src="{{image.url}}" alt="">
                  <p>&copy;{{ image.copyright_holder }} {{ image.license_type.name }}</p>
                </figure>
                <hr />
              </mat-expansion-panel>
            </mat-accordion>
          </cdk-virtual-scroll-viewport>
        </ng-container>
      </article>
    </section>
  </main>
  
