<main>
    <section class="list-page">
        <article>
          <div  class="col col-lg-2" >
            <input placeholder="Search" type="search" id="input-field">
            <select class="sort" >
                <option value="search" selected disabled hidden>Search by</option>
                <option value="age"></option>
                <option value="name"></option>
            </select>
        </div>
        <app-back-button></app-back-button>
        <!-- <div id="map"></div> -->
        <app-map></app-map>
        </article>
        <article>
            <div class="list-group">
                <div *ngFor="let place of places" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <!-- <figure class="rounded float-start rounded-circle flex-shrink-0">
                        <img src="../../assets/img/phones/{{ phone.id }}.0.jpg" alt="">
                        <img src="{{'assets/img/phones/' + phone.id }}.0.jpg" alt="">
      
                    </figure> -->
                  <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                        <h2 class="mb-0"><a routerLink="{{'/places-detail/' + place.id }}">{{ place.name.fi }}</a></h2>
                        <p class="mb-0 opacity-75">{{ place.description.body }}</p>
                        <p class="mb-0 opacity-75">{{ place.info_url }}</p>
                    </div>
                  </div>
                </div> 
            </div>  
            <!-- <a routerLink="{{'/places-detail/' + place.id }}></a>" -->
          
        </article>

    </section>


</main>

