<main>
    <section class="list-page">
        <article>

        </article>
        <article>
            <div class="list-group">
                <div *ngFor="let place of places" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <!-- <figure class="rounded float-start rounded-circle flex-shrink-0">
                        <img src="../../assets/img/phones/{{ phone.id }}.0.jpg" alt="">
                        <img src="{{'assets/img/phones/' + phone.id }}.0.jpg" alt="">
      
                    </figure> -->
                  <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                        <h2 class="mb-0"><a routerLink="{{'/places-detail/' + place.id }}">{{ place.name.fi }}</a></h2>
                        <p class="mb-0 opacity-75">{{ place.description.body }}</p>
                        <p class="mb-0 opacity-75">{{ place.info_url }}</p>
                    </div>
                  </div>
                </div> 
            </div>  
            <!-- <a routerLink="{{'/places-detail/' + place.id }}></a>" -->
          
        </article>

    </section>


</main>

<!-- | filter: searchText | sortBy: order -->

<!-- // [
//   {
//   "meta": {
//     "count": "2432",
//     "next": "http://open-api.myhelsinki.fi/v1/places/?limit=50&start=50"
//   },
//   "data":  -->

<!-- ,
  "tags": {
    "matko1:1": "ACCOMMODATION",
    "matko1:10": "RESTAURANTS & CAFES",
    "matko1:169": "SAUNA & WELLNESS",
    "matko1:2": "MEETING PLACES",
    "matko1:225": "VENUES",
    "matko1:226": "WORK & STUDY",
    "matko1:228": "BARS & NIGHTLIFE",
    "matko1:3": "BANQUET VENUES",
    "matko1:4": "SIGHTS & ATTRACTIONS",
    "matko1:5": "NATURE & SPORTS",
    "matko1:6": "MUSEUMS & GALLERIES",
    "matko1:9": "SHOPPING",
    "matko2:101": "BookStore",
    "matko2:103": "Grocery",
    "matko2:104": "RecordStore",
    "matko2:11": "Hostel",
    "matko2:110": "Auditorium",
    "matko2:111": "FreeCatering",
    "matko2:117": "Vegetarian",
    "matko2:12": "Apartment",
    "matko2:141": "Bistro",
    "matko2:142": "SmartCasual",
    "matko2:144": "Cocktail",
    "matko2:145": "Organic",
    "matko2:147": "ModernNordic",
    "matko2:149": "EcoCompass",
    "matko2:15": "Banquet",
    "matko2:158": "Seaside",
    "matko2:165": "Activity",
    "matko2:166": "AlvarAalto",
    "matko2:167": "Breakfast",
    "matko2:168": "Brunch",
    "matko2:17": "Sauna",
    "matko2:171": "Italian",
    "matko2:179": "MiddleEast",
    "matko2:180": "Fashion",
    "matko2:184": "Nepalese",
    "matko2:186": "Pizza",
    "matko2:191": "IslandRestaurant",
    "matko2:196": "Russian",
    "matko2:198": "Wine",
    "matko2:20": "Park",
    "matko2:206": "Wellness",
    "matko2:214": "Bakery",
    "matko2:218": "Viewpoint",
    "matko2:22": "Gallery",
    "matko2:224": "StationaryShop",
    "matko2:229": "Restaurant",
    "matko2:23": "Design",
    "matko2:231": "Kebab",
    "matko2:234": "Vegan",
    "matko2:239": "Tea",
    "matko2:24": "Architecture",
    "matko2:240": "Family",
    "matko2:241": "Hotel",
    "matko2:25": "Church",
    "matko2:253": "MixedSauna",
    "matko2:26": "Theatre",
    "matko2:28": "Concert",
    "matko2:282": "Academy",
    "matko2:296": "CultureCentre",
    "matko2:297": "Lunch",
    "matko2:31": "Swimming",
    "matko2:32": "Beach",
    "matko2:33": "IceSwimming",
    "matko2:40": "Museum",
    "matko2:41": "Speciality",
    "matko2:42": "Finnish",
    "matko2:44": "International",
    "matko2:48": "Cafe",
    "matko2:49": "Pub",
    "matko2:52": "Bar",
    "matko2:67": "InteriorDesign",
    "matko2:68": "SecondHand",
    "matko2:71": "Souvenirs",
    "matko2:72": "Jewellery",
    "matko2:a-:AliPay": "AliPay",
    "matko2:a-:Curated": "Curated",
    "matko2:a-:GlobalBlue": "GlobalBlue",
    "matko2:a-:JCB": "JCB"
  }
}
] -->