<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Carousel</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
<main class="container">
  <section class="container rounded helsinki-img">
    <div class="introduction-text rounded">
      <h1>Some catchy topic</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi qui molestias reprehenderit autem? Explicabo, laborum sint! Nemo eos deleniti praesentium iste qui incidunt, molestiae ad aut. Excepturi, repudiandae laboriosam? Possimus consectetur at praesentium! Quia itaque animi mollitia quam ea aliquid porro, impedit facere numquam vitae explicabo. Veritatis rerum quia cumque sunt consequatur dolores itaque magnam iure. Nisi voluptatem eaque enim iure asperiores, excepturi dolorem corrupti in quos veritatis officiis omnis! Expedita laboriosam, itaque voluptatibus aut molestias asperiores tempore! Accusantium dolor quidem ex quas dolorum ipsam. Placeat non atque ex obcaecati? Placeat voluptatibus exercitationem nemo autem sequi? Iure fugit officiis inventore?</p>
    </div>

  </section>
    
             
      
  <!-- Tästä alkaa napit lista-sivuille -->
  <div class="container">
    <div class="list-links">
        <div class="col-lg-4 round-img">
          <svg class="bd-placeholder-img rounded-circle places-img" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
    
          <!-- <h2>Heading</h2> -->
          <h1><a class="btn btn-secondary" routerLink="{{'/places-list'}}">Places</a></h1>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 round-img">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
    
          <!-- <h2>Heading</h2> -->
          <h1><a class="btn btn-secondary" routerLink="{{'/places-list'}}">Activities</a></h1>  
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 round-img">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
    
          <!-- <h2>Heading</h2> -->
          <h1><a class="btn btn-secondary" routerLink="{{'/places-list'}}">Events</a></h1>
        </div><!-- /.col-lg-4 -->
      </div>
</div>
</main>
